.centent .goodslist { width: 1264px; height: auto; padding: 30px; margin: 0 auto; overflow: hidden; }
.centent .goodslist ul { width: 100%; height: auto; }
.centent .goodslist ul li { list-style-type: none; float: left; width: 227px; height: 358px; margin-right: 13px; margin-bottom: 20px; border: 1px solid #bbb; position: relative; }
.centent .goodslist ul li:hover { border: 1px solid red; box-shadow: 0px 0px 10px 3px #d6d5d5; transition: all 1s; }
.centent .goodslist ul li:hover .xin { display: block; }
.centent .goodslist ul li:hover .img p { height: 25px; transition: all 0.7s; }
.centent .goodslist ul li .xin { display: none; width: 30px; height: 30px; background: #dbdada; border: 1px solid #ebebeb; font-size: 25px; color: #424040; font-style: normal; text-align: center; line-height: 30px; position: absolute; right: 10px; top: 10px; z-index: 1; }
.centent .goodslist ul li .xin:hover { color: red; }
.centent .goodslist ul li .img { width: 225px; height: 225px; position: relative; }
.centent .goodslist ul li .img img { width: 225px; height: 225px; }
.centent .goodslist ul li .img p { position: absolute; bottom: 0; width: 225px; height: 0px; background: red; }
.centent .goodslist ul li .img p a { line-height: 25px; text-decoration: none; display: block; text-align: center; font-size: 12px; float: left; width: 50%; height: 25px; color: #fff; }
.centent .goodslist ul li .img p a:hover { background: #f18989; }
.centent .goodslist ul li .title { width: 100%; height: 60px; padding: 10px; }
.centent .goodslist ul li .title a { font-size: 12px; line-height: 20px; color: #333333; text-decoration: none; }
.centent .goodslist ul li .title a:hover { color: red; }
.centent .goodslist ul li .price { width: 100%; height: 43px; padding: 5px 10px; border-bottom: 1px solid #bbb; }
.centent .goodslist ul li .price i { font-style: normal; font-size: 12px; }
.centent .goodslist ul li .price a { text-decoration: none; }
.centent .goodslist ul li .price a em { font-style: normal; font-size: 15px; color: red; font-weight: bold; margin: 0 3px; }
.centent .goodslist ul li .price a del { font-size: 11px; color: #bbb; }
.centent .goodslist ul li .price a:nth-child(2) { display: inline-block; height: 100%; font-size: 12px; float: right; right: 10px; line-height: 33px; color: #bbb; }
.centent .goodslist ul li .saleinfo { width: 100%; height: 28px; padding: 5px 10px; overflow: hidden; position: relative; }
.centent .goodslist ul li .saleinfo a:nth-child(1) { text-decoration: none; float: left; font-size: 12px; line-height: 18px; color: black; }
.centent .goodslist ul li .saleinfo a:nth-child(1) em { font-style: normal; }
.centent .goodslist ul li .saleinfo a:nth-child(2) { text-decoration: none; color: green; margin: 1px 0px; display: inline-block; font-size: 12px; text-align: center; line-height: 13px; position: absolute; right: 35px; top: 5px; width: 30px; height: 16px; border-radius: 5px 5px 5px 5px; border: 1px solid green; }
.centent .goodslist ul li .saleinfo a:nth-child(3) { position: absolute; right: 5px; top: 1px; width: 25px; height: 25px; }

.filter { width: 100%; padding: 5px 3%; margin: 30px 0 0px; }
.filter ul { overflow: hidden; }
.filter ul li { float: left; border: #E5E5E5 1px solid; border-right: none; }
.filter ul li a, .filter ul li span, .filter ul li label { display: inline-block; padding: 7px 12px; text-align: center; line-height: 21px; }
.filter ul li a { color: #2953a6; }
.filter ul .pricefanwei { border-right: 1px solid #E5E5E5; }
.filter ul .pricefanwei input[type=number] { width: 50px; height: 20px; }
.filter ul .pricefanwei input[type=button], .filter ul .pricefanwei .guanjz.btn { width: 30px; height: 20px; background: #e6ebf6; border: none; outline-style: none; margin-right: 12px; }
.filter ul .guanjz input[type=text] { width: 150px; height: 20px; }
.filter ul .guanjz input[type=button] { background: #e6ebf6; border: none; outline-style: none; margin-right: 12px; padding: 4px; }

.page { width: 100%; height: 60px; padding: 0 3%; margin: 10px 0 20px; color: #999; }
.page .page-wrap { width: 580px; height: 60px; margin: 0 auto; position: relative; }
.page .page-wrap b { display: inline-block; width: 56px; height: 26px; margin: auto; left: 0; right: 0; position: absolute; background: url("../img/goodslist/tm.png") no-repeat; }
.page .page-wrap > span { display: inline-block; width: 78px; height: 40px; background: #EFEFEF; margin-top: 18px; text-align: center; line-height: 40px; border: #E5E5E5 1px solid; cursor: pointer; }
.page .page-wrap > .span { position: absolute; left: 237px; }
.page .page-wrap ul { width: 160px; position: absolute; bottom: 0; left: 78px; }
.page .page-wrap ul li { width: 40px; height: 40px; border: #E5E5E5 1px solid; float: left; text-align: center; line-height: 40px; border-left: none; font-size: 18px; color: #999; cursor: pointer; }
.page .page-wrap ul li:nth-child(4) { border-top: none; border-bottom: none; }
.page .page-wrap .page-skip { width: 250px; height: 60px; display: inline-block; float: right; }
.page .page-wrap .page-skip form { width: 100%; height: 100%; padding-top: 30px; }
.page .page-wrap .page-skip form span { font-size: 14px; }
.page .page-wrap .page-skip form input[type=text] { width: 34px; height: 20px; border: 1px solid #E5E5E5; }
.page .page-wrap .page-skip form input[type=button] { width: 34px; height: 20px; background: #fff; outline: none; border: 1px solid #E5E5E5; }
.page .page-wrap .page-skip form input { margin-top: -5px; }

/*# sourceMappingURL=goodslist.css.map */
