.register-header {
  width: 100%;
  height: 88px;
  padding-left: 3.4%; }
  .register-header a {
    display: inline-block;
    width: 190px;
    height: 88px; }
    .register-header a h1 {
      width: 190px;
      background: url("../img/loginimg/TB1_Gn8RXXXXXXqaFXXXXXXXXXX-380-54.png") no-repeat;
      background-size: 190px;
      background-position: 3.4% 30px;
      height: 88px;
      text-indent: -9999px; }

.register-center {
  width: 100%;
  height: 600px;
  background-color: #ff999c;
  padding: 0 3%; }
  .register-center .bjt {
    width: 100%;
    height: 600px;
    background: url("../img/loginimg/TB1819lDgTqK1RjSZPhSutfOFXa.jpg") no-repeat;
    position: relative; }
    .register-center .bjt .bjt-a {
      display: inline-block;
      width: 670px;
      height: 500px;
      background: #6c6c6c;
      position: absolute;
      top: 50px;
      left: 40px;
      opacity: 0; }
    .register-center .bjt .register-register {
      width: 350px;
      height: 520px;
      background: #fff;
      position: absolute;
      top: 40px;
      right: 60px;
      display: block; }
      .register-center .bjt .register-register .registerform {
        padding: 15px 25px;
        position: absolute;
        top: 15px;
        overflow: hidden; }
        .register-center .bjt .register-register .registerform p {
          height: 28px;
          line-height: 28px;
          font-size: 5px;
          color: red;
          padding: 0 10px; }
        .register-center .bjt .register-register .registerform h3 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 20px; }
        .register-center .bjt .register-register .registerform input {
          font-size: 16px;
          width: 300px;
          line-height: 18px;
          height: 40px;
          padding: 11px 8px 11px 10px;
          border: 1px solid #ddd;
          position: relative; }
        .register-center .bjt .register-register .registerform .zhyz {
          width: 100%;
          height: 40px; }
          .register-center .bjt .register-register .registerform .zhyz .zhyz1 {
            width: 180px; }
          .register-center .bjt .register-register .registerform .zhyz input[type=button] {
            width: 100px;
            display: inline-block;
            float: right;
            height: 100%;
            text-align: center;
            font-size: 16px;
            margin-top: 0;
            background: #ccc;
            cursor: not-allowed;
            outline: none; }
        .register-center .bjt .register-register .registerform .yzminput {
          width: 100px; }
        .register-center .bjt .register-register .registerform .yzm {
          width: 200px;
          height: 40px;
          display: inline-block;
          position: absolute;
          right: 25px; }
          .register-center .bjt .register-register .registerform .yzm p {
            width: 140px;
            height: 40px;
            display: inline-block;
            background: #6c6c6c;
            text-align: center;
            padding: 5px; }
            .register-center .bjt .register-register .registerform .yzm p span {
              font-size: 18px;
              margin: 0 3px;
              display: inline-block; }
          .register-center .bjt .register-register .registerform .yzm a {
            display: inline-block;
            width: 60px;
            height: 100%;
            float: right;
            line-height: 40px;
            color: #fff;
            background: #58bc58;
            text-align: center; }
        .register-center .bjt .register-register .registerform input[type=button] {
          background: #CCC;
          cursor: not-allowed;
          padding: 11px 0;
          color: #fff;
          font-size: 16px;
          margin-top: 15px; }
      .register-center .bjt .register-register .wangjimima {
        text-align: right;
        padding-right: 30px;
        position: absolute;
        bottom: 20px;
        right: 0px; }
        .register-center .bjt .register-register .wangjimima a {
          color: #6c6c6c;
          text-align: right;
          margin-right: 5px; }
        .register-center .bjt .register-register .wangjimima a:nth-child(2) {
          color: #ff0036; }

/*# sourceMappingURL=register.css.map */
